<div id='tableContainer' class="demo-padding demo-container">
  <oj-button on-oj-action="[[onLoadTransferTable]]">
    <oj-bind-text value="Click to Load"></oj-bind-text>
  </oj-button>

  <oj-bind-if test={{loadTransTable}}>
    <oj-label>
      <h3><oj-bind-text value="Most Transferred In"></oj-bind-text></h3>
    </oj-label>
    <oj-bind-text value="[[mostAOETransferredIn()]]"></oj-bind-text>
    <oj-label>
      <h3><oj-bind-text value="Most Transferred Out"></oj-bind-text></h3>
    </oj-label>
    <oj-bind-text value="[[mostAOETransferredOut()]]"></oj-bind-text>
    <oj-label>
      <h3><oj-bind-text value="Captain Info"></oj-bind-text></h3>
    </oj-label>
    <oj-bind-text value="[[gwCapInfo()]]"></oj-bind-text>
    

    <h1><oj-bind-text value="Live AOE Player League Table"></oj-bind-text></h1>

    <oj-table id="aoeTransfers" aria-label="FPL Chip data" data='[[transferDataProvider]]'
      selection-mode='{"row": "single", "column": "multiple"}' scroll-policy='loadMoreOnScroll'
      scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "Player Name", 
    "field": "player",
    "resizable": "enabled"},
    {"headerText": "GW Transfers", 
                    "field": "info",
                    "style": "white-space:normal;word-wrap:break-word; text-align: left;vertical-align: top; width: 500px;",
                    "resizable": "enabled"},
                    {"headerText": "Captain", 
                    "width" : "150",
                    "field": "captain",
                    "resizable": "enabled"},
                    {"headerText": "Vice Captain", 
                    "width" : "150",
                    "field": "vicecaptain",
                    "resizable": "enabled"},
                    {"headerText": "Hits This Week",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;",
                    "field": "hits",
                    "resizable": "enabled"},
                    {"headerText": "Active Chip", 
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "field": "chip",
                    "resizable": "enabled"},
                    {"headerText": "Overall Rank (Not Live)", 
                    "field": "rank",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"},
                    {"headerText": "Overall Points", 
                    "field": "points",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"},
                    {"headerText": "Live Points", 
                    "field": "livepoints",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"},
                    {"headerText": "TV", 
                    "field": "tv",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"}]' style='width: 100%; height:100%;'>
    </oj-table>
  </oj-bind-if>

  <oj-bind-if test={{loadTransTable}}>

    <oj-label>
      <h3><oj-bind-text value="Hits Count"></oj-bind-text></h3>
    </oj-label>

    <oj-table id="chipTable" aria-label="FPL Hit data" data='{{hitDataProvider}}'
      selection-mode='{"row": "single", "column": "multiple"}' scroll-policy='loadMoreOnScroll'
      scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "Player Name", 
      "field": "player"},
      {"headerText": "FPL hits Cost", 
                      "field": "cost"},
      {"headerText": "Team Name", 
                      "field": "team"}]'>
    </oj-table>
  </oj-bind-if>
</div>
