<!DOCTYPE HTML>
<html>
	<head>
		<title>Football Our Passion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	
	<body>
			<!-- <header id="header">
				<div class="logo"><a href="index.html">FOP  <span>Football Our Passion</span></a></div>
			</header> -->
			
			<main role="main" class="app">
			
			<section id="the-default-view">

		
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div :style.background-image = "url('css/images/AoE_Small.JPG')"; style="width: 100%; height: 368px;" :style.background-position="center">
								
								</div>
								
								<div class="content">
									<header class="align-center">
										<p>Age Of Empires</p>
										<h2>AoE</h2>
									</header>
									<p> The batte lines are drawn. It is the dawn of the Age of Empires, and dusk for the fallen kingdoms. As the tectonic plates of the ten dynasties collide, who will emerge victorious? Who will be crowned Emperor of the Great Indian sub-continent.</p>
									<footer class="align-center">
										<a href="index.html?root=aoe" class="button alt">Live Stats</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div :style.background-image = "url('css/images/FFF_Small.JPG')"; style="width: 100%; height: 368px;" :style.background-position="center">
								
								</div>
								
								<div class="content">
									<header class="align-center">
										<p>FOP Fantasy Federation </p>
										<h2>FFF</h2>
									</header>
									<p> The journey to the top is ardous and fraught with peril. Season by season, tier by tier, rank by rank, all for the coveted star. Forge your legacy in the FOP Fantasy Federation.</p>
									<br>
									<footer class="align-center">
										<a href="index.html?root=fff" class="button alt">Live Stats</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Experts Speak</p>
						<h2>Podcasts</h2>
					</header>
					<footer class="align-center">
						<a href="https://open.spotify.com/show/1SvttNEOeunwdbpphtZyn3?si=vQPh1Qh8SgyOoiUecBOHuQ" class="button alt">Listen</a>
					</footer>
				</div>
			</section>

			<div style="padding-top: 40px; padding-bottom: 40px; width: 100%;">

				<a href="index.html?root=injuries" style="width: 33%;">
					<img border="0" src="css/images/injuries_icon.png" width="100" height="100">
				</a>

				<a href="index.html?root=yctracking" style="width: 33%;">
					<img border="0" src="css/images/ycicon.png" width="100" height="100">
				</a>

				<a href="index.html?root=setpieces" style="width: 33%;">
					<img border="0" src="css/images/penalty.png" width="100" height="100">
				</a>

				<a href="index.html?root=foplms" style="width: 33%;">
					<img border="0" src="css/images/lms.png" width="100" height="100">
				</a>
			</div>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">A group of FPL enthusiasts</p>
						<h2>Football Our Passion</h2>
					</header>
					
				</div>
			</section>
			</section>
			
			</main>
			

		

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
				function myFunction() {
				  var x = document.getElementById("myLinks");
				  if (x.style.display === "block") {
					x.style.display = "none";
				  } else {
					x.style.display = "block";
				  }
				}
				</script>
	

	</body>
</html>