<div id="sampleDemo" style="background-color: #121212;" class="demo-padding demo-container">
  <div id="componentDemoContent" style="width: 1px; min-width: 100%;">

    <div id="masonrylayout-reordertiles-example">

      <div>
        <b>
        <span style="color:wheat">
          <oj-bind-text value="[[welcomeMsg]]"> </oj-bind-text>
        </span>
        </b>
      </div>
      
      <div class="demo-scroll-container" style="padding-top: 10px;">
        <oj-masonry-layout id="masonryLayout" reorder-handle=".oj-panel-drag-handle" on-oj-remove="[[demoHandleRemove]]"
          on-oj-insert="[[demoHandleInsert]]">

          <oj-menu id="demoMenu" slot="contextMenu" aria-label="Element Reorder">
            <oj-option data-oj-command="oj-masonrylayout-cut"></oj-option>
            <oj-option data-oj-command="oj-masonrylayout-paste-before"></oj-option>
            <oj-option data-oj-command="oj-masonrylayout-paste-after"></oj-option>
          </oj-menu>

          <oj-bind-for-each data="[[dataprovider]]">
            <template data-oj-as="chemical">
              <div style="background-color: #1F1B24;" :class="[['oj-panel demo-tile oj-typography-bold ' + chemical.data.sizeClass]]"
                :id="[[getTileId(chemical.index)]]">
                <div class="oj-panel-drag-handle" :id="[[getDragHandleId(chemical.index)]]"
                  :title="[[getDragHandleTitle()]]" :aria-label="[[getDragHandleLabel()]]"
                  :aria-labelledby="[[getDragHandleLabelledBy(chemical.index)]]" tabindex="0" role="separator">
                  <span class="oj-panel-drag-icon"></span>
                </div>
                <span style="color:white" :id="[[getLabelId(chemical.index)]]">
                  <oj-bind-text value="[[chemical.data.name]]"></oj-bind-text>
                </span>
                <div class="oj-flex oj-sm-align-items-center">
                  <div class="oj-flex-item oj-sm-padding-3x-horizontal oj-sm-margin-3x-top">
                    <a style="color:wheat" :href=[[chemical.data.link]]>
                      <span style="color:wheat" :id="[[getLabelId(chemical.index)]]">
                        <oj-bind-text value="[[chemical.data.desc]]"></oj-bind-text>
                      </span>
                    </a>
                  </div>
                </div>
                <oj-button chroming="borderless" display="icons" class="oj-panel-remove-button"
                  on-oj-action="[[demoRemoveTile]]" :id="[[getButtonId(chemical.index)]]"
                  :aria-labelledby="[[getButtonLabelledBy(chemical.index)]]">
                  <span slot="startIcon" class="oj-panel-remove-icon"></span>
                  <span>
                    <oj-bind-text value="[[getRemoveButtonLabel()]]"></oj-bind-text>
                  </span>
                </oj-button>
              </div>
            </template>
          </oj-bind-for-each>
        </oj-masonry-layout>
      </div>

      <div id="collapsiblePage" data-oj-binding-provider="none">
        <oj-collapsible id="c1">
          <h3 id="h" style="color:white; font-weight: bold;" slot="header"> Preferences </h3>
      <!-- This is a list of all available tiles.  When a tile is in the 
            masonry layout, its entry here is just plain text.  When a tile is 
            removed from the masonry layout, its entry here becomes a link that 
            can be used to insert the tile back into the masonry layout. -->
            <div class="oj-sm-padding-4x">
              <oj-bind-for-each data="[[dataprovider]]">
                <template data-oj-as="chemical">
                  <div>
                    <oj-bind-if test="[[chemical.data.inserted()]]">
                      <span style="color:white">
                        <oj-bind-text value="[['Insert ' + chemical.data.name]]"></oj-bind-text>
                      </span>
                    </oj-bind-if>
                    <oj-bind-if test="[[!chemical.data.inserted()]]">
                      <a href="#" :id="[[getAnchorId(chemical.index)]]" on-click="[[demoInsertTile]]">
                        <oj-bind-text value="[['Insert ' + chemical.data.name]]"></oj-bind-text>
                      </a>
                    </oj-bind-if>
                  </div>
                </template>
              </oj-bind-for-each>
            </div>
          
        </oj-collapsible>
      </div>


      <!-- This is a hidden holding area for tiles removed from the 
            masonry layout. -->
      <div id="removedTilesHolder" class="oj-sm-hide">
      </div>
    </div>





  </div>
</div>
