<div id="sampleDemo" style="background-color: #121212;" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div class="loginbox">
            <div class="oj-flex oj-sm-flex-items-initial
        oj-sm-justify-content-center" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="oj-flex-item oj-sm-padding-2x-horizontal">
                    <img style="height: 120px; width: 120px;" src="css/images/FOPIcon.png" />
                </div>
            </div>
            <div class="oj-flex oj-sm-flex-items-initial
        oj-sm-justify-content-center">
                <div class="oj-flex-item oj-sm-padding-2x-horizontal">
                    <oj-validation-group id="idValidationGrp">
                        <oj-input-number class="demo-text-field-info" id="fplid" value={{fplid}} min=0 max=99999999 step=0 required="true">
                        </oj-input-number>
                    </oj-validation-group>
                </div>
            </div>
            <div style="height: 20px;">
            </div>
            <div class="oj-flex oj-sm-flex-items-initial
        oj-sm-justify-content-center">
                <oj-button on-oj-action="[[loadUserData]]">
                    <oj-bind-text value="Login"></oj-bind-text>
                </oj-button>
                <a style="padding-left: 10px; color:wheat; padding-top: 10px;" href="?root=dashboard">
                    <span style="color:wheat">
                        <oj-bind-text value="Guest"></oj-bind-text>
                    </span>
                </a>
            </div>
            <div style="height:10px"> </div>
        </div>
    </div>
</div>