<div id='tableContainer' class="demo-padding demo-container" style="color:white; background-color: black;">
  <!-- <oj-button on-oj-action="[[onLoadTransferTable]]">
    <oj-bind-text value="Click to Load"></oj-bind-text>
  </oj-button> -->

  <oj-bind-if test={{loadTransTable}}>
    <oj-label>
      <h3 style="color: wheat"><oj-bind-text value="Most Transferred In"></oj-bind-text></h3>
    </oj-label>
    <oj-avatar size="md" src="[[mostAOETransferredInPic]]"></oj-avatar>
    <oj-label>
      <h3 style="color: wheat">
        <oj-bind-text value="Most Transferred Out"></oj-bind-text>
      </h3>
    </oj-label>
    <oj-avatar size="md" src="[[mostAOETransferredOutPic]]"></oj-avatar>
    <oj-label>
      <h3 style="color: wheat">
        <oj-bind-text value="Captain Info"></oj-bind-text>
      </h3>
    </oj-label>

    <div id='chart-container' style="color:white">
      <oj-chart id="pieChart"
          type="pie" 
          data="[[mostAoeCappedDataProvider]]"
          animation-on-display="auto"
          animation-on-data-change="auto"
          style-defaults.three-d-effect="off"
          hover-behavior="dim"
          style="color:white">
  
          <template slot='itemTemplate' data-oj-as='item'>
              <oj-chart-item style="color:white"
                value='[[item.data.count]]'
                group-id='[[[item.data.group]]]'
                series-id='[[item.data.name]]'> 
              </oj-chart-item>
          </template>
      </oj-chart>
    </div>

    <h1 style="color: wheat"><oj-bind-text value="Live AOE Player League Table"></oj-bind-text></h1>

    <oj-table style="color: white !important; background-color: black !important;" id="aoeTransfers" aria-label="FPL Chip data" data='[[transferDataProvider]]'
      selection-mode='{"row": "single", "column": "multiple"}' columns='[{"headerText": "Player Name", 
    "field": "player",
    "resizable": "enabled"},
    {"headerText": "GW Transfers", 
                    "field": "info",
                    "style": "white-space:normal;word-wrap:break-word; text-align: left;vertical-align: top; width: 500px;",
                    "resizable": "enabled"},
                    {"headerText": "Captain", 
                    "width" : "150",
                    "field": "captain",
                    "resizable": "enabled"},
                    {"headerText": "Vice Captain", 
                    "width" : "150",
                    "field": "vicecaptain",
                    "resizable": "enabled"},
                    {"headerText": "Hits This Week",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;",
                    "field": "hits",
                    "resizable": "enabled"},
                    {"headerText": "Active Chip", 
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "field": "chip",
                    "resizable": "enabled"},
                    {"headerText": "Overall Rank (Not Live)", 
                    "field": "rank",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"},
                    {"headerText": "Overall Points", 
                    "field": "points",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"},
                    {"headerText": "Live Points", 
                    "field": "livepoints",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"},
                    {"headerText": "TV", 
                    "field": "tv",
                    "width" : "100",
                    "headerStyle": "white-space:pre-wrap;", 
                    "resizable": "enabled"}]'>
    </oj-table>
  </oj-bind-if>

  <oj-bind-if test={{loadTransTable}}>

    <span>
      <h3 style="color: wheat"><oj-bind-text value="Hits Count"></oj-bind-text></h3>
    </span>

    <oj-table id="chipTable" style="color:white !important" aria-label="FPL Hit data" data='{{hitDataProvider}}'
      selection-mode='{"row": "single", "column": "multiple"}' scroll-policy='loadMoreOnScroll'
      scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "Player Name", 
      "field": "player"},
      {"headerText": "FPL hits Cost", 
                      "field": "cost"},
      {"headerText": "Team Name", 
                      "field": "team"}]'>
    </oj-table>
  </oj-bind-if>

  <oj-bind-if test={{loadTransTable}}>

    <span>
      <h3 style="color: wheat"><oj-bind-text value="Bonus Per Team in Top 10 Chart"></oj-bind-text></h3>
    </span>

    <oj-table id="bonusTeam" style="color:white !important" aria-label="bonusTeamTable" data='{{bonusTeamDataProvider}}'
      selection-mode='{"row": "single", "column": "multiple"}' scroll-policy='loadMoreOnScroll'
      scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "Team Name", 
      "field": "team"},
      {"headerText": "Count", 
                      "field": "count"}]'>
    </oj-table>

    <span>
      <h3 style="color: wheat"><oj-bind-text value="Bonus Per Player in Top 10 Chart"></oj-bind-text></h3>
   </span>

    <oj-table id="bonusTeam" style="color:white !important" aria-label="FPL Hit data" data='{{bonusPlayerDataProvider}}'
      selection-mode='{"row": "single", "column": "multiple"}' scroll-policy='loadMoreOnScroll'
      scroll-policy-options='{"fetchSize": 10}' columns='[{"headerText": "Player Name", 
      "field": "player"},
      {"headerText": "Count", 
                      "field": "count"}]'>
    </oj-table>
  </oj-bind-if>
</div>
